/*滚动条设置*/
html {
    cursor: url(../img/Arrow.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
    overflow-y: scroll;
    /* 设置自定义滚动条 */
}

/* 滚动栏本身的背景 此项必须有 */
html::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0.0);
}

/*滚动栏下方的空白区域*/
html::-webkit-scrollbar-track {
    background: rgba(255, 85, 127, 0.0);
    /* 设置透明，就会随主题变化 */
}

/* 可拖动滚动元素的大小取决于可滚动元素的大小 */
html::-webkit-scrollbar-thumb {
    background: #252d38;
    border-radius: 6px;
}

/* 可滚动元素的底角，两个滚动条在此相交。 */
html::-webkit-scrollbar-corner {
    background: #82AFFF;
}

.markdown-body table {
    overflow-x: scroll;
    /* 设置自定义滚动条 */
}

/* 滚动栏本身的背景 此项必须有 */
.markdown-body table::-webkit-scrollbar {
    height: 8px;
    background-color: rgba(0, 0, 0, 0.0);
}

/*滚动栏下方的空白区域*/
.markdown-body table::-webkit-scrollbar-track {
    background-color: rgba(255, 85, 127, 0.0);
}

/* 可拖动滚动元素的大小取决于可滚动元素的大小 */
.markdown-body table::-webkit-scrollbar-thumb {
    background: #ffaaff;
    border-radius: 2px;
}

/*鼠标光标设置*/
/* 以下为替换鼠标光标 */
/* 封面大图 */
.banner {
    cursor: url(../img/Arrow.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 封面向下 */
.scroll-down-bar {
    cursor: url(../img/Hand2.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 搜索框关闭按钮 */
#local-search-close.close {
    cursor: url(../img/Hand2.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 搜索框、输入框 */
input,
textarea {
    cursor: url(../img/IBeam.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 所有可跳转链接 */
a[href] {
    cursor: url(../img/Hand2.cur), auto !important;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 按钮 */
button[class] {
    cursor: url(../img/Hand2.cur), auto !important;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 补充按钮 */
svg,
span.vat,
span.vnick {
    cursor: url(../img/Hand2.cur), auto !important;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 图片放大 */
.fancybox-image {
    cursor: url(../img/SizeAll.cur), auto;
    background-color: rgba(0, 0, 0, 0.0);
}

/* 提高目录的z轴坐标，否则会被动态线挡住 */
#toc {
    z-index: 10;
}

#timeDate {
    font-size: 12px;
}

#times {
    font-size: 12px;
}

/* 文章页背景 */
.layout_post>#post {
    /* 以下代表透明度为0.8 可以自行修改*/
    background: rgba(255, 255, 255, .8);
}

/* 所有页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表透明度为0.8 */
    background: rgba(255, 255, 255, .8);
}

/*侧边卡片的透明度 */
:root {
    --card-bg: rgba(255, 255, 255, .8);
}

/*首页轮播公告栏*/
.notice-logo {
    line-height: 22px;
    margin-right: 8px;
    transition: 0.3s;
}

#notice {
    height: 47px;
    background-color: black;
    color: var(--font-color);
    margin-top: 20px;
    padding: 12px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
}

[data-theme="dark"] #notice {
    background: black !important;
}

#notice span {
    white-space: nowrap;
}

.swiper-wrapper {
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.swiper-wrapper .swiper-slide {
    width: 100%;
    text-align: center;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
    font-weight: bold;
}

.swiper-slide:hover {
    color: #1fc7b6;
}

#noticeList {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.notice-enter {
    line-height: 25px;
    margin-left: 8px;
    transition: 0.3s;
}